/* all app scss styles here */

.banner {
  background-color: #000;
  background-image: url('../images/banner-image.jpg');
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  height: 200px;
}
#maincontent {
  margin-top: 40px;
}

// NODES & LABELS
// Adds a label to nodes on hover
.nodelabel {
  display: none;
}
.nodeset:hover {
  .node {
    opacity: 1;
  }
  .nodelabel {
    display: block;
  }
}
