# Ignore the distros
/dist*/
.tmp

app/**/*.html
app/css/

config.json

##########################
##  __   __   __|  ___  ##
## |  ) (__) (__| (__/_ ##
##########################
node_modules
bower_components
npm_debug.log
npm-debug.log


###########################
##    __  __    __   __  ##
## __)  (__( __)  __)    ##
###########################
.sass-cache/
*.css.map

############################################
##         o  __   __|  __            __  ##
## (__(__( | |  ) (__| (__) (__(__( __)   ##
############################################
Thumbs.db
*.ini

#######################
##  __ __   __   __  ##
## |  )  ) (__( (___ ##
#######################
.DS_Store
