extends ./layout.jade

block title
  title Kevin Bacon Runtime
block scripts
  // build:js js/socialnetwork.js
  script(src="js/d3demo.js")
  // endbuild
  
block content
  h1 D3 Demo
  h2 Description
  p Just a basic demo to make sure D3 and the build system works