head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SPARQLverse D3
    // build:css css/libraries.min.css

    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.css")
    link(rel="icon" href="images/favico.ico" type="image/x-icon")
    // bower:css
    // endbower
    // endbuild
    // build:css css/app.min.css
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="css/app_override.css")
    // endbuild
    // build:js js/vendor/modernizr.min.js
    script(src="bower_components/modernizr/modernizr.js")
    // endbuild
    // build:js js/vendor/d3.min.js
    script(src='bower_components/d3/d3.js')
    script(src='js/d3sparql.js')
    // endbuild
