doctype html
html(class="no-js", lang="en")
    include header
    body
      div.row
        div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns panel radius")
          h1 SPARQLverse D3 demos:
          ul
            li <a href="socialnetwork.html">Social Network</a>
            li <a href="d3demo.html">Basic D3 demo (no SPARQL)</a>
      include footer
