extends ./layout.jade

block content
  h1 SPARQLverse D3 demos:
  ul
    li <a href="socialnetwork.html">Social Network</a>
    li <a href="topevent.html">Top Event</a>
    li <a href="d3demo.html">Basic D3 demo (no SPARQL)</a>
      
