extends ./layout.jade

block content
  h1 SPARQLverse D3 demos:
  ul
    li <a href="kevinbaconruntime.html">Kevin Bacon Runtime</a>
    li <a href="topevent.html">Top Event</a>
    li <a href="socialnetwork.html">Social Network</a>
      
