doctype html
html(class="no-js", lang="en")
  head
    include header
    block title
      title SPARQLverse D3
    block scripts
  body
    div.row
      div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns panel radius")
        block content

    include footer
