.contain-to-grid.sticky
  nav.top-bar(data-topbar role="navigation")
    ul.title-area
      li.name
        h1 
          a(href="/") SPARQLverse D3
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu
    section.top-bar-section
      ul.right
        li
          a(href="http://sparqlcity.com") by SPARQLCity
      ul.left
        li.show-for-small-only
          a(href="/") Front
        li.has-dropdown
          a(href="#") Demos
          ul.dropdown
            li
              a(href="/kevinbaconruntime.html") Kevin Bacon Runtime
              a(href="/socialnetwork.html") Social Network
              a(href="/topevent.html") Top Event