doctype html
html(class="no-js", lang="en")
    include header
    script
      | var xaxis_var = "lastname",
      | yaxis_var = "date",
      | radius_var = "pricepaid",
      | xaxis_label = "genome size (bp) -- circle size corresponds to # of histidine kinase domains",
      | yaxis_label = "# of genes";
    // build:js js/scatterplot.js
    script(src="js/scatterplot.js")
    // endbuild
    body
      div.row
        div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns panel radius")
          h1 Scatter
          #query
            form.form-inline
              label SPARQL endpoint:
              .input-append
                input#endpoint(value="//endpoint//" type="text")
                input#showquerytitle(type="checkbox" onclick="toggle()")
                label(for="showquerytitle") Hide Query
                br
                button.button(type="button" onclick="exec()") RUN
            textarea#sparql(style="min-height:200px")
              | SELECT ?firstname ?lastname ?eventname ?location ?pricepaid ?date
              | FROM <tickit>
              | WHERE {
              | # get all ticket sales info
              | ?eventid <venueid> ?venueid .
              | ?venueid <venuename> ?location .
              | ?eventid <dateid> ?dateid .
              | ?dateid <caldate> ?date .
              | ?eventid <eventname> ?eventname .
              | # note the sellers
              | ?sales <eventid> ?eventid .
              | ?sales <pricepaid> ?pricepaid .
              | ?sales <sellerid> ?thief .
              | # limit to thieves
              | ?person1 <ssn> ?sameSSN .
              | ?person1 <firstname> ?first1 .
              | ?person1 <lastname> ?last1 .
              | ?thief <ssn> ?sameSSN .
              | ?thief <firstname> ?firstname .
              | ?thief <lastname> ?lastname .
              | filter ( ?person1 < ?thief )
              | } ORDER BY ?date ?eventname ?location LIMIT 500


          h2 Description
          p Shows connections within a social network. Influenced by the <a href="http://biohackathon.org/d3sparql/d3sparql-forcegraph.html">D3SPARQL Forcegraph demo</a> and the <a href="http://svx.sparqlcity.com:8080/svx.html#/tickitFetch">Fetching & Filtering playground example</a>
      include footer
