extends ../includes/layout.jade

block title
  title Kevin Bacon Runtime
block scripts
  script
    | var xaxis_var = "runTime",
    | yaxis_var = "date",
    | radius_var = "numActors",
    | xaxis_label = "Run Time",
    | yaxis_label = "Date",
    | node_label = "movieName",
    | min_r = 3,
    | max_r = 40;
  // build:js js/scatterplot.js
  script(src="js/scatterplot.js")
  // endbuild
block content
  h1 Kevin Bacon Runtime
  #query
    form.form-inline
      label SPARQL endpoint:
      .input-append
        input#endpoint(value="//endpoint//" type="text")
        input#showquerytitle(type="checkbox" onclick="toggle()")
        label(for="showquerytitle") Hide Query
        br
        button.button(type="button" onclick="exec()") RUN
    textarea#sparql(style="min-height:200px")
      include ../queries/kevinbaconruntime.rq

  h2 Description
  p The number of actors in movies that Kevin Bacon has acted in over the years and by runtime
  p Once the graph is generated you will have access to a new interface that will let you drill into the data in real time

block graphmods
  p Date Filter: Remove films made before a specific date:
  .row
    .small-12.columns
      p Films made after: 
        input#datefilter(type="range" value="1990" oninput="FilterDate.updateDateFilterText(this.value)" onchange="FilterDate.scatterplotMin()")
        | &nbsp; &nbsp;
        span#datefilterval 1990

block scripts_footer
  script(src="js/filters.js")
