meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon" href="images/favico.ico" type="image/x-icon")
//- <!-- build:css .tmp/css/libraries.min.css -->
link(rel="stylesheet", href="../bower_components/font-awesome/css/font-awesome.css")
//- <!-- endbuild -->
link(rel="stylesheet", href="css/app.css")
//- <!-- build:js .tmp/js/vendor/modernizr.min.js -->
script(src="../bower_components/modernizr/modernizr.js")
//- <!-- endbuild -->
//- <!-- build:js .tmp/js/vendor/d3.min.js -->
script(src='../bower_components/d3/d3.js')
script(src='../js/d3sparql.js')
//- <!-- endbuild -->
