doctype html
html(class="no-js", lang="en")
  head
    include header
    block title
      title SPARQLverse D3
    block scripts
  body
    block banner
    include nav
    div.row#maincontent
      div(class="small-10 small-centered columns panel radius")
        block content
    div.row#graph
      div(class="small-12 columns")
    .row.hidden#filters
      .small-10.small-centered.columns.panel.radius
        h2 Filters
        block graphmods
          //- Modifications to the graph, such as a date filter
    include footer
